.login {
  width: 210vh;
  height: 100vh;
  .title {
    font-size: 45px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 30px;
  }
  background: url(/public/imgs/login_bg.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  .login-wrapper {
    background-color: #fff;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 500px;
    padding: 50px;
  }
}
